body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #CDC4CB;
  opacity: 0.8;
  margin-top: 12em;
  text-align: center;
}

h2, p {
  text-align: center;
}

.button:before {
  clear: both;
}

/* Submit Button CSS Style*/
.button {
  background-color: #00008B;
  color: white;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
}
