* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 5px;
    padding-left: 1rem;
    text-align: left;
    background: #1abc9c;
    color: white;
}

nav {
    display: flex;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.aside1 {
    flex: 10%;
    background-color: #f1f1f1;
    padding: 20px;
}

.aside1 > p {
    margin-top: 3rem;
}

.aside2 > p {
    margin-top: 3rem;
}

.main-content {
    flex: 70%;
    background-color: white;
    padding: 1rem;
}

.aside2 {
    flex: 20%;
    background-color: #936;
    color: white;
    padding: 20px;
}

.immunitea {
    padding-top: 6rem;
    clear: both;
}

.immunitea,
.herbal,
.greenitea,
.exotic {
    padding-top: 0.1rem;
    padding-bottom: 2rem;
    clear: both;
}

.immunitea img,
.herbal img,
.greenitea img,
.exotic img {
    width: 20%;
    height: 30%;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
    clear: both;
}

footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

nav label,
#hamburger {
    display: none;
}

@media screen and (max-width: 700px) {
    .container,
    .navbar {
        flex-direction: column;
    }
    /* Show Hamburger */
    nav label {
        display: inline-block;
        color: #fff;
        background-color: #936;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }
    /* Break down menu items into vertical */
    nav ul li {
        display: block;
        padding: 1rem;
    }
    nav ul li {
        border-top: 1px solid #333;
    }
    /* Toggle show/hide menu on checkbox click */
    nav ul {
        display: none;
    }
    nav input:checked ~ ul {
        display: block;
    }
}
