body {
    padding: 0px;
    font-family: Arial;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-areas: 'header header header header header header' 'navigation navigation navigation navigation navigation navigation' 'background background background background background background' 'main main main main main right' 'main main main main main right' 'aside aside aside aside aside right' 'footer footer footer footer footer footer';
}

.nested {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "a1 ... a2";
}

.nested aside:first-child {
    grid-area: a1;
}

.nested aside:last-child {
    grid-area: a2;
}

.backg {
    background-image: url('images/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25rem;
}

.item1 {
    grid-area: header;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.nav {
    grid-area: navigation;
}

.backg {
    grid-area: background;
}

.nested {
    grid-area: aside;
}

.item1 {
    padding: 5px;
    padding-left: 1rem;
    text-align: left;
    background: #1abc9c;
    color: white;
}

nav {
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav label,
#hamburger {
    display: none;
}

footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.item3 {
    padding: 0.7rem;
}

.item4 {
    background-color: #f1f1f1;
    padding: 20px;
}

.a1,
.a2 {
    background-color: white;
    color: black;
    margin-bottom: 1rem;
    border: dashed 0.3rem lightblue;
    padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-areas: 'header' 'navigation' 'main' 'aside' 'background' 'right' 'footer';
    }
    .backg {
        background-image: url('images/bg responsive.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    /* Show Hamburger */
    nav label {
        display: inline-block;
        color: #fff;
        background-color: #936;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }
    /* Break down menu items into vertical */
    nav ul li {
        display: block;
        padding: 1rem;
    }
    nav ul li {
        border-top: 1px solid #333;
    }
    /* Toggle show/hide menu on checkbox click */
    nav ul {
        display: none;
    }
    nav input:checked ~ ul {
        display: block;
    }
}

.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.skip-link:active,
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    -webkit-clip-path: none;
    clip-path: none;
}

*:focus,
*:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

a[target="_blank"]:after {
    content: " (external)";
}
