html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
}

header h1 {
    width: 30%;
    float: left;
    /* padding-left: 2rem; */
}

nav {
    width: 65%;
    float: left;
}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav li {
    display: inline-block;
    padding-top: 1rem;
    padding-right: 3rem;
}

nav li a:hover {
    background-color: white;
    color: black;
    padding: 0.5rem;
}

.welcomeimage {
    width: 65%;
    margin-top: 6rem;
    float: left;
    padding-right: 2rem;
}

section {
    padding-right: 2rem;
    padding-top: 9rem;
    font-size: 1.2rem;
}

.welcomehead {
    background-color: lightblue;
    font-weight: bold;
    font-size: 1.8rem;
}

.boldtext {
    font-weight: bold;
}

form {
    padding-top: 7rem;
    width: 70%;
    margin-left: 1rem;
}

fieldset {
    margin-bottom: 1rem;
    border: none;
}

legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: lightblue;
    font-size: 1.2rem;
}

label {
    display: block;
}

input {
    margin-bottom: 1rem;
}

#name,
#phone,
#email,
#requests {
    width: 20rem;
}

button {
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.immunitea {
    padding-top: 6rem;
    clear: both;
}

.herbal,
.greenitea,
.exotic {
    padding-top: 2rem;
    clear: both;
}

.immunitea img,
.herbal img,
.greenitea img,
.exotic img {
    width: 20%;
    height: 30%;
    float: left;
    padding-right: 1rem;
    padding-left: 1rem;
    clear: both;
}

.skip-link {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.skip-link:active,
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    -webkit-clip-path: none;
    clip-path: none;
}

*:focus,
*:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

a[target="_blank"]:after {
    content: " (external)";
}


/* Assignment 4 CSS */

.welcomeimage {
    animation: filter-animation 4s infinite;
}

@keyframes filter-animation {
    10% {
        filter: blur(2px);
    }
    30% {
        filter: saturate(2);
    }
    70% {
        filter: sepia(2);
    }
    100% {
        filter: grayscale(1);
    }
}

.immunitea img:hover,
.herbal img:hover,
.greenitea img:hover,
.exotic img:hover {
    filter: drop-shadow(0.2rem 0.3rem 0.3rem black);
    transform: translateX(-3px);
}

svg {
    width: 3%;
    height: 5%;
    float: left;
    clear: right;
    padding-top: 1.15rem;
    animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg #tea:hover {
    fill: lightblue;
    transform: scale(1.1);
    transition: all 1s;
}

.offer {
    border: black 0.2rem dashed;
    color: white;
    width: 60%;
    margin-top: 2.5rem;
    margin-left: 20%;
    padding: 0.5rem;
    text-align: center;
    animation: limited 5s infinite ease-out;
}

@keyframes limited {
    10% {
        background-color: #AD7A99;
        border-radius: 10px;
    }
    40% {
        background-color: #B2CEDE;
        border-radius: 20px;
    }
    70% {
        background-color: #6DC0D5;
        border-radius: 30px;
    }
    100% {
        background-color: #5A716A;
        border-radius: 40px;
    }
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-out;
}

.contact {
    margin-top: 5rem;
    background-color: transparent;
    width: 40rem;
    margin-left: 25rem;
    height: 4rem;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: black;
    color: white;
}

.flip-card-back {
    background-color: lightblue;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back a {
    text-decoration: none;
    color: black;
}
